
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}

.header {
  margin: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
  padding: .5em 0;
}


.container {
  max-width: 760px;
}


.main {
  margin-top: 3em;
  margin-bottom: 4em;
}

.footer {
  padding: 1em 0;
  color: #fff;
}

.footer p {
  margin: 0;
}